wc-text {
  display: block;
  outline: none;
  position: relative;
  p {
    font-size: inherit;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    min-height: auto !important;
  }
}
wc-text:hover {
  [contenteditable] {
    border-bottom: 1px solid rgba(125, 125, 125, 0.125) !important;
  }
}
[contenteditable], [contenteditable]:focus {
  outline: none;
  user-select: text;
  margin: 0;
  border-bottom: 1px solid rgba(125, 125, 125, 0) !important;
  p {
    margin: 0;
  }
}
[contenteditable]:focus {
  border-bottom: 1px solid rgba(125, 125, 125, 0.5) !important;
}
.medium-editor-placeholder:after {
  position: relative;
  color: inherit;
  opacity: .5;
  font-style: normal;
}