wc-social {
  .socialLinks {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
  }

  .facebook,
  .instagram,
  .twitter,
  .youtube,
  .soundcloud,
  .tumblr {
    width: 1.25em;
    height: 1.25em;
    background-position: center;
    background-size: contain;
    display: inline-flex;
    margin: 0.5em;
  }
}
wc-social.large {
  .facebook,
  .instagram,
  .twitter,
  .youtube,
  .soundcloud,
  .tumblr {
    width: 1.5em;
    height: 1.5em;
  }
}
wc-social {
  .facebook:hover,
  .instagram:hover,
  .twitter:hover,
  .youtube:hover,
  .soundcloud:hover,
  .tumblr:hover {
    opacity: 0.75;
  }

  

//  

//  .instagram {
//    background-image: url("");
//  }  
//
//  .twitter {
//    background-image: url("");
//  }  
//
//  .youtube {
//    background-image: url("");
//  }
//
//  .tumblr {
//    background-image: url("");
//  }
//
//  .soundcloud {
//    background-image: url("");
//  }
  
//  .facebook.dark {
//    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA6ElEQVRIS+2W4Q2CMBCFPyZQJ1A3cAQ3UTfQDdxAN1Am0RWcQNgAJ9A8LaYiEXpCIon904TQ9921r3eNeIw+sAGmwMh9s04JcARWQBY58bObraJl6zJgLMAemDWp7GnFAiilYUuARICrUTwF1i7AXGLizvIpaQXEwLwkMJnk4H+3AE6AIi0bjQAWzhitAQbyt3d/dp7FdZ9esrNskdbk421Limn9DMCP+pOrzYf8BwQVi266qFheuncPvsogtOGEHHJqaZkhgHvLVAVUFr2aZq0LuOiFkv8syNY9W6r6cxVArVTPlqXK+g08Lz0on6gipwAAAABJRU5ErkJggg==");
//  }
//  
//  .instagram.dark {
//    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABf0lEQVRIS9WWjTEEQRCFv4sAESACRIAMiIAMEIG7CJABEZABMiACdxEgAupbPVVjze7O1RZVuupqf6bnvd7u1z034cumwBGwEc9jL3PgGphNgEvgZCxix/6GQLb1EQTvwFO2fxXYiue5BB8jwN06ixTnMBI2JL9F8ADs/muCpVNkIZXdXST6ADgGVoC3WPOqbQOuN1ZTg2dgL4DyQqoWCZtcd9kQwSIiStG1cSQxHZ0yzwmM9DQALwLpLBqxL0j35P4S2rw/ZPoYqcg37ANKrs9M3304pJ4oyvTPCEoR1aboMArf+wUW7jUQLe5mQUGJUN8XwKu2Fr69BDrmE9aiGZlDMTdH+22Iwvc30RveDxKU5GejJRLBbaYUuY3ouyTnQQKjsCMFTaO3qw72imT5yK4iENAIla0/x0LbrmJUtxuxmiAHVF3pSDVVff1RJPATdwaaqnb52zTNj0wXuuZOLbhptX7awlnkP4rz2t1L+jWHviaJ833M4Z9zqywVOP0EKYxzxo0N9wwAAAAASUVORK5CYII=");
//  }
//  
//  .twitter.dark {
//    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABb0lEQVRIS7WVjTEEQRCFv4vAZUAGTgSIABEgAkSADIgAGRABMiADIkAE1HfVszX2d7Zur6u2dmt2tl+/1296Z6w5ZmvOzyoAe8AxsAV8A4/AQ1bw3OcEcA68AG+FjO4jeX27318Bgu8DiwTgi81YHAIxweVAIT8BMk8Av/GBVE+DblcO92wMAHwASnSUAFyQQQr1vABcz0PqzwUyyuBQ2RNAl6YC+e41GlkKcB29qJosHavto6407lkUMGgAWOUXoJumCPtozoqBFt2dInPk0KLmrABOgLuJAGzw8pDlAD53NXos7lM4qAHggj3wyi07FqCSp87AmSKL7ZziyOzaWStXUR92N8DZyKT59p36PGubpiWzpq0GT74F/ouuca1cUi11lmNaJzaiDUCLHUQ1ld16ZLvtO6ACOJRsrOEYsPKSxJ9R9fJAdUViID2vktP8Hm5r6F0iUdI+3f3GIedPKP0W6yO813Sr/JOL3Lx2gD+ooEGpvmprAgAAAABJRU5ErkJggg==");
//  }
//  
//  .youtube.dark {
//    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABo0lEQVRIS+2W4TEDURSFv3RABXRAB+iAClABKkAFqAAdUAE6oAJUQAfMl7kns5HdRJL1z5vZecnue/fc8+45d3dA+3gGPoFt4A7YBNY71k69Peh4egBcA6vAB3ACXPYJYCwZmP1+AcngCJDdVbHz3mOtOW9LoIuBa8+AU+AWkNFbBfPYfGbw/H4AWmNNA3CzG/eKyRewU8HN2tELgEEN+A8woYHUIEekejwmi2td9MYF8AJsLFJkA6mem1LQCrBbMhUsRVZdketElm0qcvHaIqYC3iuZ0fYmgBnqXrNcZmjOwzLqmDk8Cl3bx9DpxwZqMrA12G90aUYK3QR1T1zelYyx7GNjACrEgt0XumBbpZZ5AUaxmwwEcDxVC9C9Anp0gknZWXl6WbP0pKiryWwYexaAIG5y9rgyR7phlo5qcZPoUgAGTMMTJMAm8ycAMop3AtwrA1n47vCl4/zrIqcGaRk5Couad7bOl4FrPKLXLgAVI037TBSjUtyY/6pIp6b3REURQlRmyxh+JDRVNMs88zh89JHws9mZqdeizc7WHd8ME/oGbiSPGZJrXQYAAAAASUVORK5CYII=");
//  }
//  
//  .tumblr.dark {
//    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA5ElEQVRIS+2WYQ3CMBBG3xzgAJwADnAAKAAc4AAkgAJwADgABSABCeQLLekuJes69otd0izrbvfau963FaTZCDgFrmPgnPJqkeIELIFNmwCtdtgWwK5enJ+kqAcsgHUkjY0BW2AKCBKzK/A0D26uVqXpb0W2OU85CxdAp+1PADNg4IZqYW0PPMyk7nepKfJ+toP9fONT1AE+pagSu64G5KZoBUivKi0XILGbA7rKJk4Yazeauvleucy3Qy2xC2NKAvoJkGyAtn9oE6DYsc+mZWbvwAdSPaSyar7wB0CBlcajGyXwC1LJOBkw0Tm7AAAAAElFTkSuQmCC");
//  }
//
//  .soundcloud.dark {
//    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABIElEQVRIS+2Vf23CQBTHPygYOGAONgdIYA6YA3CwOZgEJIACmAMcwByAAsiHvFsuR8sFEhL+6EuaNu3d99d7bXs8uHoPxqcjqCb8tBGNgCPwB+yu2bjHwR54yUDXwDfg+aJqBMNQqOIxMA3lTVifwLx80EagGkF/gEVs+op7RtNUOnsvI8sJ3mLXJuxKIJHAVo3ANbMQ9S8gJ9C+DVNxcnArgfsV6HkpjgQp56TUWLbA4A4HZXQfEshoPIlA1Ss4f0aSA0VMKj1o6stGEJv2GgAuKgmMrB/gaf6rb3AsOEgggCOYR6QrVd/ag5J4mffACBy1vMle2xPLIVBI25iW4L+uz6fIGCxJ7Ely4UT4zMNrY6qVGO7v/ge1pLqI6glxAp1cSOjDno1dAAAAAElFTkSuQmCC");
//  }
}
