md-dialog(aria-label="Select").firedux-dialog
  md-toolbar.md-whiteframe-2dp(style="z-index:3")
    .md-toolbar-tools
      h2|Login
      div(flex)
  md-dialog-content(layout="column" layout-padding)
    form(ng-submit="$ctrl.hide($ctrl.credentials)")
      md-input-container.no-messages.md-block
        label|Email
        input(ng-model="$ctrl.credentials.email")
      md-input-container.no-messages.md-block
        label|Password
        input(
        type="password"
        ng-model="$ctrl.credentials.password")  
  md-dialog-actions
    div(flex)
    md-button(ng-click="$ctrl.cancel()")|cancel
    md-button.md-accent(ng-click="$ctrl.hide($ctrl.credentials)")|Login
  