.md-display-1|wc-toggle
fd-ref(
  fd-ref-path="webcat/toggle"
  fd-ref-query="$ctrl.$query"
  then="$ctrl.$data = $data")
  before
    |LOADING
  then
    |SUCCESS
  catch
    |ERROR
  
wc-toggle(
  wc-toggle-items="$ctrl.$data")