wc-media {
  position: relative;
  display: block;
  overflow: hidden;
  .img-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    min-height: 60px;
    outline: none;
  }
}
md-icon.menu-right {
  margin: auto 3px auto 0 !important;
}
.hidden-input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
}
wc-media[on-click] {
  img {
    cursor: pointer;
  }
}
wc-media[parallax] {
  @media (min-width: 1024px) {
    .img-wrapper {
      transform: translateZ(-1px) translateY(-240px) scale(2);
    }
  }
}
md-content {
  perspective: 1px;
}