firedux(
object-ref="users"
on-data="$ctrl.user=$data"
on-ready="$ctrl.init($data)")

ng-transclude(
  ng-if="$ctrl.authData && ($ctrl.user.credentials === $ctrl.wcCredentials || !$ctrl.wcCredentials)")
