md-dialog(aria-label="Loading: {{$ctrl.$title}}")
  md-dialog-content
    .md-title
      |{{$ctrl.$title}}
    wc-progress(
      wc-progress-type="linear"
      wc-progress-percentage="{{$ctrl.$progress}}")
    .md-body-1
      |{{$ctrl.$body}}
  md-dialog-actions
    div(flex)
    md-button(
      ng-click="$ctrl.$catch()")
        |{{$cancelLabel?$$cancelLabel:'Cancel'}}